form {
    position: relative;
    overflow: hidden;
}

form > * {
    position: relative;
    z-index: 1;
}

form::before{
    content:"";
    position:absolute;
    inset:-3px;
    background: linear-gradient(90deg, rgba(255,106,0,0.12), rgba(255,127,42,0.06));
    filter: blur(10px);
    z-index:0;
}

.icon-logo {
    font-size: 1.5rem;
    background-color: #ff6a00;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
}

.title {
    font-family: var(--family-font);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.subtitle {
    font-family: var(--family-font);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}

.input-title {
    font-family: var(--family-font);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.input-group {
    border-radius: 1rem;
    border: 1px solid #353535;
    background: rgba(255, 255, 255, 0.05);
    font-family: var(--family-font);
    font-size: 0.9rem;
    font-weight: 400;
}

.input-field {
    background: transparent;
    border: none;
}

.input-field:focus {
    outline: none;
    box-shadow: none;
}

.password-toggle-btn {
    background: transparent;
    border: none;
}

a {
    color: #ff6a00;
    font-family: var(--family-font);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.login-btn {
    font-family: var(--family-font);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    background: #ff6a00;
    border-radius: 0.8rem;
}

/***************/
/* LIGHT THEME */
/***************/

[data-bs-theme="light" i] .subtitle {
    color: #757575;
}

[data-bs-theme="light" i] .input-title {
    color: #757575;
}

[data-bs-theme="light" i] .login-btn {
    color: rgb(255, 255, 255);
}

[data-bs-theme="light" i] .password-toggle-btn {
    color: #757575;
}

/**************/
/* DARK THEME */
/**************/

[data-bs-theme="dark" i] .subtitle {
    color: #b8b8b8;
}

[data-bs-theme="dark" i] .input-title {
    color: #b8b8b8;
}

[data-bs-theme="dark" i] .login-btn {
    color: rgb(0, 0, 0);
}

[data-bs-theme="dark" i] .password-toggle-btn {
    color: #b8b8b8;
}