:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

body {
    /* Aggiungi padding per rispettare la safe area sui lati */
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
}

main {
    padding-top: calc(15vh + var(--safe-area-inset-top));
    padding-bottom: calc(7rem + var(--safe-area-inset-bottom));
}

.mobile-header {
    /* Aggiungi padding in alto per non finire sotto il notch */
    padding-top: var(--safe-area-inset-top);
    /* Potrebbe essere necessario aumentare l'altezza per compensare il padding */
    height: calc(15vh + var(--safe-area-inset-top)); /* Adatta 56px all'altezza originale del tuo header */
}

.mobile-header, .icons-menu {
    background-color: var(--bs-body-bg);
}

.mobile-header h1 {
    font-family: 'Alfa Slab One';
    letter-spacing: 0.7px;
}

footer a {
    font-size: 1.25rem;
}

.mobile-header .Alma {
    color: #DF693E;
}

.icons-menu {
    padding-bottom: var(--safe-area-inset-bottom);
    height: calc(5rem + var(--safe-area-inset-bottom));
}

/* LIGHT THEME */
[data-bs-theme="light" i] body {
    --bs-body-bg: #e9ecef;
    color: #212529;
}

/* DARK THEME */
[data-bs-theme="dark" i] body {
    --bs-body-bg: #000000;
    color: #f8f9fa;
}