.card {
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.card:focus {
    outline: 3px solid #fff;
    outline-offset: 5px;
}

.card span {
    font-family: "Alexandria", sans-serif;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
         2px 3px 5px rgb(0, 0, 0);
}

span.image-caption {
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    font-weight: 700;
}

.testo-arancio {
  color: #DF693E;
}

@media (max-width: 430px) {
  .cs-caption {
    visibility: hidden;   
    position: relative;
  }

  .cs-caption::after {
    content: attr(data-short);
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.card.biomedic { background:#AC7F5E; }
.card.electronic { background:#FF2D55; }
.card.mechanic { background:#CB30E0; }
.card.compsci { background:#6155F5; }

