.tab-btn {
    background: none;
    border: none;
    color: #999;
    font-weight: 600;
    touch-action: manipulation;
}

.tab-btn.active {
    color: #ff8c00;
    text-shadow: 0 0 5px rgba(180,180,180,.6);
}

.tab-btn:focus {
    outline: none;
    box-shadow: none;
}

.tab-btn:not(.active):focus {
    color: #999;
}

.divider {
    color: #ccc;
}

.almamatch-container {
    position: relative;
}

.tabs {
    position: relative;
    z-index: 10;
}
