form {
    border-color: #FF8A36;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.5rem;
}

form .title {
    font-family: "Alexandria", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #FF8A36;
    border-bottom: 0.15rem solid #FF8A36;
    letter-spacing: 0.1rem;
}

.auth-btn {
    background: linear-gradient(to bottom, #FF8A36, #6E2E00 87%, #4A1F00 100%);
    border: none;
    padding: 0.7rem 1.25rem;
    color: white;
    font-family: "Alexandria", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05rem;
}