@media (max-width: 767px) {
    .image-container img {
        height: 33vw;
        width: 27vw;
    }
}

@media (min-width: 768px) {
    aside .image-container img {
        height: 15vh;
        width: 100%;
    }
}
